.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 20px auto;
  padding: 20px;
  background: #f0f0f0;
}
.list {
  min-width: 400px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

li:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.details {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.details div {
  padding: 10px;
}
